<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- Servlets -->
  <servlet>
    <servlet-name>cloudServlet</servlet-name>
    <servlet-class>edu.webapp.server.WordCloudServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cloudServlet</servlet-name>
    <url-pattern>/webapp/input</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>cloudLatestServlet</servlet-name>
    <servlet-class>edu.webapp.server.WordCloudLatestServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cloudLatestServlet</servlet-name>
    <url-pattern>/latest/latest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>cloudDetailServlet</servlet-name>
    <servlet-class>edu.webapp.server.WordCloudDetailServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cloudDetailServlet</servlet-name>
    <url-pattern>/cloud/cloud</url-pattern>
  </servlet-mapping>
  
	<servlet>
		<servlet-name>DownloadCloudServlet</servlet-name>
		<servlet-class>edu.webapp.server.DownloadCloudServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadCloudServlet</servlet-name>
		<url-pattern>/cloud/download</url-pattern>
	</servlet-mapping>
  
</web-app>
