body {
	margin: 0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;

	background-image: url('../imgs/Sky.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 20px 0 10px 0;
  position: relative;
}
h1 {
  font-size: 20px;
  margin-top: 32px;
  margin-bottom: 12px;
}
h2 {
  font-size: 20px;
  margin-top: 32px;
  margin-bottom: 12px;
}
h3 {
  font-size: 20px;
  margin-top: 32px;
  margin-bottom: 10px;
}
h4 {
  font-size: 16px;
  margin-top: 29px;
  margin-bottom: 7px;
}
h5 {
  font-size: 16px;
  margin-top: 29px;
  margin-bottom: 7px;
}

.baseContainer {
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
}

.webTitle {
	margin: 10px 0px 10px 0px;
	text-align: center;
}

.textAreaStyle {
	resize: none;
	height: 300px;
	position: relative;
  	font-size: 14px;
}

.settingFont {
  	font-size: 14px;
  	margin-bottom: 10px;
	font-family: sans-serif;
}

#settingContainer > select {
  	margin-bottom: 0px;
}

.wide {
	width: 750px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.blackTransparent {
	background-color: rgba(0, 0, 0, .8);
}

.fullScreen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.cloud-table {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 100%;
	height: 95%;
}

.errorBox {
	border: 2px groove gray;
	background-color: rgba(255, 255, 255, .9);
	width: 600px;
}

.buttonWidth {
	width:220px;
}

.buttonWidth-double {
	width:470px;
}

.small {
  font-size: 85%;
}
             
.gallery-img {
	border: 2px gray solid; 
	border-radius: 10px; 
	max-height: 300px;
	max-width: 500px;
}

.row {
    width:80%;
    background: white;
    border: 2px black solid;
    margin-left: 10%;
    margin-top: 10px;
}

.img-about {
    max-height: 160px;
}

.photo {
    max-height: 200px;
    float: left;
    margin-right:20px;
}

.about-info {
    margin: 20px 20px 20px 20px;
    
    text-align: left;
    vertical-align: middle;
}

.faqContainer {
	margin: 0 auto;
	max-width: 800px;
}

.faq-question {
	text-align:justify;
}

.faq-info {
}

.faq-subsection {
    color: #333;
}


.description {
	margin: 0 auto;
	max-width: 800px;
	text-align:justify;
}

.latest {
	border-collapse:collapse;
	text-align: center;
	margin: 0 auto;
	width: 85%;
}

.latest td {      	
	border: 1px solid black;
	padding: 5px;
}

.statContainer {
	margin: 0 auto;
	max-width: 1200px;
	text-align: center;
}

.stat {
	border-collapse:collapse;
	text-align: left;
	margin: 0 auto;
	width: 50%;
}

.stat:after {
    content:"\a";
    white-space: pre;
}

.stat td {      	
	border: 1px solid black;
	padding: 5px;
}

svg {
	height: 100%;
	width: 100%;
	overflow: visible;
}

.svg_word {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

.svg_g:hover {
    opacity: 0.5;
    cursor: move;
  }

.custom-context-menu {
    z-index:1000;
    position: absolute;
    border: 1px solid #003366;
    padding: 3px;
    cursor: pointer;

	background:#fff; color:#003366;
	-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
	-moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

